@font-face {
    font-family: "Product Sans Regular";
    src: url(../fonts/Product\ Sans\ Regular.ttf );
  }
  @font-face {
    font-family: "Product Sans Bold";
    src: url(../fonts/Product\ Sans\ Bold.ttf );
  }
  
  @font-face {
    font-family: "Product Sans Italic";
    src: url(../fonts/Product\ Sans\ Italic.ttf);
  }
  
  @font-face {
    font-family: "Product Sans Bold Italic";
    src: url(../fonts/Product\ Sans\ Bold\ Italic.ttf);
  }
  
  @font-face {
    font-family: "funky";
    src: url(../fonts/funky.otf);
  }
  *{
    font-family: Product Sans Regular;
  }