@font-face {
  font-family: "Product Sans Regular";
  src: url(../fonts/Product\ Sans\ Regular.ttf );
}
@font-face {
  font-family: "Product Sans Bold";
  src: url(../fonts/Product\ Sans\ Bold.ttf );
}

@font-face {
  font-family: "Product Sans Italic";
  src: url(../fonts/Product\ Sans\ Italic.ttf);
}

@font-face {
  font-family: "Product Sans Bold Italic";
  src: url(../fonts/Product\ Sans\ Bold\ Italic.ttf);
}

@font-face {
  font-family: "funky";
  src: url(../fonts/funky.otf);
}
.nav {
  font-family: Product Sans Regular;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.nav ul a{
  text-decoration: none;
  margin: 0 1rem;
  color: #000;
}
.nav ul {
  text-decoration: none;
  list-style: none;
  font-weight: bold;
}
.nav ul {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 50%;
}
.h11{
  color: #000;
  margin-top: 200px;
  text-align: center;
  font-size: 50px;
  font-family: Product Sans Bold;
}